<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>
    </div>

    <div class="col-md-4">
      <%= image_tag @restaurant.image, class: "img-responsive center-block" %>
      <br>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>Opening Hour:</strong> <%= @restaurant.opening_hours %></li>
          <li><strong>Tel:</strong> <%= @restaurant.tel %></li>
          <li><strong>Address:</strong> <%= @restaurant.address %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <!-- simple_format 將\n換行字元換成HTML的<br>標籤。在表單輸入的<textarea></textarea>中，換行其實是\n控制字元，因此輸出在網頁上時，\n代表的是在HTML原始碼中換行，因此我們經常需要將\n再換成<br>標籤，這樣瀏覽器看到的畫面才有換行的呈現。 -->
      <!-- https://ihower.tw/rails/actionview-helpers.html -->
      <%= simple_format @restaurant.description %>
    </div>

    <div class="clearfix"></div>

    <hr>

  </div>
</div>
